.addressInput {
  font-size: 13px;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
  padding: 5px 8px;
  width: 240px;
}

.geoDestination {
  font-size: 15px;
  border-radius: 3px;
}

.loadingContainer {
  margin-top: 10px;
  font-size: 15px;
}
